# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Linker files
*.ilk

# Debugger Files
*.pdb

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# CPP_00
megaphone
test_phonebook
phonebook
# CPP_01
zombie
brain
weapon
replace
harl
harlFilter
# CPP_02
fixed
test_fixed

# debug information files
*.dwo
